@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #ffffff;
    --background-hex: #131313;
  }

  main {
    /* background-color: var(--background-hex) !important;
    color: var(--foreground-hex) !important; */
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

main {
  color: white;
  /* color: var(--foreground-hex); */
  /* background-color: var(--background-hex); */
}

body{
  background: #000;
  padding: 0;
  margin: 0;
}